<!-- _includes/image-row.html -->
<div class="image-outerwrapper" >
    <div class="image-innerwrapper">
    <img src="{{ site.url }}/{{ include.img1 }}" alt="{{include.caption1}}" />
    <span class="image-caption">{{ include.caption1 }}</span>
    </div>

    <div class="image-innerwrapper">
    <img src="{{ site.url }}/{{ include.img2 }}" alt="{{include.caption2}}" />
    <span class="image-caption">{{ include.caption2 }}</span>
    </div>

    <div class="image-innerwrapper">
    <img src="{{ site.url }}/{{ include.img3 }}" alt="{{include.caption3}}" />
    <span class="image-caption">{{ include.caption3 }}</span>
    </div>
    <div class="clear "> </div>
    <h5><em>{{ include.main-caption }}</em></h5>
</div>
