<div class="sidebar">
  <div class="container sidebar-sticky">
    <span class="photo">
      <img src="http://localhost:4000/downloads/blog2-corp.png"
     alt="yinyan-pic" />
    </span>

    <div class="sidebar-about">
      <h1>
        <a class="site-name" href="{{ site.baseurl }}">
          {{ site.site_name }}
        </a>
      </h1>
      <!-- <p class="lead">{{ site.description }}</p> -->
    </div>

    <span class="sidebar-breakline"></span>

    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active {% endif %}" href="{{ site.baseurl }}">Home page</a> -->

      <a class="sidebar-nav-item"
        href="{{ site.url }}/archives/categories.html">
        Articles
      </a>

       <a class="sidebar-nav-item"
        href="{{ site.url }}/downloads/yin-yan-resume.pdf">
        Resume
      </a>

      <a class="sidebar-nav-item"
        href="{{ site.url }}/phd-thesis.html">
        PhD. Thesis
      </a>

      <a class="sidebar-nav-item"
        href="https://scholar.google.com/citations?user=5G9LBNsAAAAJ&hl=en">
        Publications
      </a>

    </nav>

    <span class="copyright-item">&copy; {{ site.time | date: '%Y' }}.
        themed with <a href="https://github.com/poole/hyde">Hyde</a>
    </span>
  </div>
</div>
